@model Rental_Data.Data.Rental.Equipment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equipment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ABS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ABS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AUX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AUX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISOFIX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISOFIX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.USB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.USB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CruiseControl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CruiseControl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Navigation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Airbag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Airbag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerSteering)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerSteering)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirConditioning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirConditioning.AirConditioningID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EquipmentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
