@model IEnumerable<Rental_Data.Data.Rental.Equipment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Check)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentName.EquipmentNameID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Check)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipmentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EquipmentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EquipmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
