@model Rental_Data.Data.Rental.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand.BrandID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleModel.VehicleModelID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfProduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfProduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfCarProduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfCarProduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalAgency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalAgency.RentalAgencyID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirConditioning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirConditioning.AirConditioningID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneralType.GeneralTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExactType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExactType.ExactTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineType.EngineTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colour.ColourID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberPlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberPlate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnginePower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnginePower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GearBox)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GearBox.GearBoxID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WheelDrive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WheelDrive.WheelDriveID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfDoors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfDoors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VehicleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
