@model Rental.Data.Data.Areas.Identity.Data.ApplicationUser
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Rental.Data.Data.Areas.Identity.Data
@using Rental_Data.Data.Rental

<a asp-action="@ViewBag.Action"><i class="fas fa-chevron-left"></i> Powrót</a>
<div class="container">
    <div class="row">
        <div col-md-6>
            <form asp-action="Edit" enctype="multipart/form-data">
                <input type="hidden" name="actionLink" value="@ViewBag.Action" />
                <div class="card m-2">
                    <div class="card-header">
                        <i class="fas fa-user-circle"></i> Zdjęcie
                    </div>
                    <div class="card-body">
                        <div id="dbimage">
                            @if (Model.Image != null)
                            {

                                var base64 = Convert.ToBase64String(Model.Image);
                                var imgSrc = String.Format("data:Image/jpeg;base64,{0}", base64);
                                <img style="width: 100px; height:100px" class="img-profile rounded mb-4" id="#dbimage" src="@imgSrc" />

                            }
                        </div>
                        <div id="showimage"></div>

                        <div class="custom-file">
                            <input class="form-control custom-file-input" type="file" name="file" />
                            <label class="custom-file-label">Wybierz..</label>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">

                $(document).ready(function () {
                    @*Java script dodaje siezke do pliku labeka *@
                    $(".custom-file-input").on("change", function () {

                        //dopisane
                        document.getElementById("dbimage").style.display = "none";

                        var fileName = $(this).val().split("\\").pop();
                        $(this).next(".custom-file-label").html(fileName);

                        @*Pokazuje zdjecie *@
                        var previewimages = $("#showimage");
                        previewimages.html("");
                        $($(this)[0].files).each(function () {
                            var file = $(this);
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                var img = $("<img class=\"rounded mb-4 \" />");
                                img.attr("style", "height:100px;width: 100px;");
                                img.attr("src", e.target.result);
                                previewimages.append(img);
                            }
                            reader.readAsDataURL(file[0]);
                        });
                    }); //dodalem ;
                });
                </script>
                <div class="card m-2">
                    <div class="card-header">
                        <i class="fas fa-folder-open"></i> Dane
                    </div>
                    <div class="card-body">

                        @*<input type="hidden" value="@Model.Id" />*@
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Imię</label>
                                <input type="text" asp-for="@Model.FirstName" value="@Model.FirstName" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Nazwisko</label>
                                <input type="text" asp-for="@Model.LastName" value="@Model.LastName" class="form-control" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Email</label>
                                <input type="text" asp-for="@Model.Email" value="@Model.Email" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Telefon</label>
                                <input type="text" asp-for="@Model.Phone" value="@Model.Phone" class="form-control" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Ulica</label>
                                <input type="text" asp-for="@Model.Street" value="@Model.Street" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Numer</label>
                                <input type="text" asp-for="@Model.Number" value="@Model.Number" class="form-control" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">Kraj</label>
                                <input type="text" asp-for="@Model.Country" value="@Model.Country" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">Miasto</label>
                                <input type="text" asp-for="@Model.City" value="@Model.City" class="form-control">

                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputZip">Kod</label>
                                <input type="text" asp-for="@Model.ZIPCode" value="@Model.ZIPCode" class="form-control">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Zapisz zmiany</button>

                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-4">
            <form asp-action="AddUser">
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="hidden" name="action" value="@ViewBag.Action" />
                <div class="card m-2">
                    <div class="card-header">
                        <i class="fas fa-user-tag"></i> Rola w systemie
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputState">Obecnie:<strong> @ViewBag.RoleNow</strong></label>
                            <select class="form-control" name="roleName" asp-items="@ViewBag.UsersRole">
                                <option disabled selected>Wybierz aby zmienić...</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Zmień role</button>
                    </div>
                </div>
            </form>
            @{
                Password pw = ViewBag.Password;
            }

            <div class="card m-2">
                <div class="card-header">
                    <i class="fas fa-key"></i> Zmiana Hasła
                </div>
                <div class="card-body">
                    <form asp-action="ResetPassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" name="id" value="@Model.Id" />
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input class="form-control" asp-for="@pw.PasswordNew" placeholder="Password">
                            <span asp-validation-for="@pw.PasswordNew" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input class="form-control" asp-for="@pw.ConfirmPassword" placeholder="Password">
                            <span asp-validation-for="@pw.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Zmień hasło</button>
                    </form>
                </div>
            </div>
            @* *****************************************   Tylko dla pracownikow --> oddzial *****************  *@
            @if (ViewBag.Action == "Employees")
            {
                <div class="card m-2">
                    <div class="card-header">
                        <i class="fas fa-map-marker-alt"></i> Oddział
                    </div>
                    <div class="card-body">
                        <form asp-action="RentalAgencyChange">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <input type="hidden" name="action" value="@ViewBag.Action" />
                            <div class="form-group">
                                <label for="inputState">Obecnie:<strong> @ViewBag.AgencyName</strong></label>
                                <select class="form-control" name="agencyID" asp-items="@ViewBag.RentalAgencyItems">
                                    <option disabled selected>Wybierz aby zmienić...</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm">Zmień role</button>
                        </form>
                    </div>
                </div>
            }
            @* *****************************************   Nie dla Zablokowanych --> Zabokuj *****************  *@
            @if (ViewBag.Action != "BlockedUsers")
            {
                <div class="card m-2">
                    <div class="card-header text-danger">
                        <i class="fas fa-user-slash"></i> Zablokuj Użytkownika
                    </div>
                    <div class="card-body">
                        <form asp-action="AddUser">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <input type="hidden" name="roleName" value="Zablokowani" />
                            <input type="hidden" name="action" value="@ViewBag.Action" />
                            <button type="submit" class="btn btn-danger btn-sm" value="Zablokuj">Zablokuj</button>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>