@model Rental.Data.Data.Rental.News
@{
    ViewData["Title"] = "Index";
}
@using Rental.Data.Data.Rental


@await Html.PartialAsync("~/Views/Shared/RemoveAlerts.cshtml")

<h4 class="pt-4 pb-2">Aktualnośći</h4>

<div class="row mb-4">
    @***** Lista *****@
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 mb-2">
                        <span class="float-left"><i class="fas fa-folder-open mr-2"></i>Lista aktualnych pozycji</span>
                        <button class="btn text-primary float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample"><i class="fas fa-sliders-h"></i></button>
                    </div>
                    <div class="col-12 mb-2">
                        <div class="text-center collapse show" id="collapseExample" style="">
                            <div class="card card-body">
                                <form asp-action="Index" method="get">
                                    <div class="row">
                                        <div class="col-sm-10 align-self-center">
                                            @*Wyszukiwarka*@
                                            <input type="text" name="search" class="form-control" placeholder="Wpisz szukaną frazę.." />
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn text-primary"><i class="fas fa-search"></i></button>
                                            <button asp-action="Index" class="btn text-primary"><i class="fas fa-ban"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        @foreach (var item in ViewBag.ItemCollection as List<News>)
                        {
                                <div class="card shadow-sm mb-2 mt-2">
                                    <div class="card-body">
                                        <small class="float-sm-right">@item.Create</small>
                                        <h5 class="card-title">@item.Topic</h5>
                                        <p class="card-text">@item.NewsContent</p>
                                        <hr />
                                        <div class="float-left">
                                            <a data-topic="@item.Topic" data-id="@item.NewsID" data-content="@item.NewsContent" class="ml-2 j-s-EditDialog" data-toggle="modal" data-target="#editModal" href="#editModal"><i class="fas fa-wrench"></i></a>
                                            <a data-id="@item.NewsID" data-topic="@item.Topic" class="ml-2 j-s-DeleteDialog" data-toggle="modal" data-target="#deleteModal" href="#deleteModal"><i class="fas fa-trash"></i></a>
                                        </div>
                                        <div class="float-right">
                                            <span class="align-bottom">@item.SenderUser.FirstName @item.SenderUser.LastName</span>
                                            @{
                                                //wyswietlamy zdjecie profilowe autora
                                                if (item.SenderUser.Image != null)
                                                {
                                                    var base64 = Convert.ToBase64String(item.SenderUser.Image);
                                                    var imgSrc = String.Format("data:Image/jpeg;base64,{0}", base64);
                                                    <img style="width: 30px; height:30px" class="card-img  mr-2" src="@imgSrc" />
                                                }
                                                else
                                                {
                                                    <img style="width: 30px; height:30px" class="card-img  mr-2" src="~/Upload/Default/DefaultUser.png" />
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @***** Dodaj *****@
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <label class="control-label mb-3"><i class="fas fa-file mr-2"></i>Dodaj</label>
                            <div class="form-group">
                                <label asp-for="Topic" class="control-label"></label>
                                <input asp-for="Topic" class="form-control" />
                                <span asp-validation-for="Topic" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewsContent" class="control-label"></label>
                                <textarea asp-for="NewsContent" class="form-control" rows="10" ></textarea>
                                <span asp-validation-for="NewsContent" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Utwórz" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form asp-action="Delete" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Czy na pewno chcesz usunąć:
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @*Wysylanie ID*@
                    <input type="hidden" name="id" id="itemId" value="" />
                    <input type="text" name="name" id="topic" value="" disabled class="form-control" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-sm btn-danger">Usuń</button>
                </div>
            </form>
        </div>
    </div>
</div>





<!-- Modal Edit -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Edytuj wybraną pozycję
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @*Wysylanie ID*@
                    <input type="hidden" name="NewsID" id="itemId" value="" />
                    <input type="hidden" name="id" id="itemId" value="" />
                    <div class="form-group">
                        <label asp-for="Topic" class="control-label small"></label>
                        <input type="text" asp-for="Topic" id="topic" value="" class="form-control" />
                        <span asp-validation-for="Topic" class="text-danger"></span>
                    </div>
                        <div class="form-group">
                        <label asp-for="NewsContent" class="control-label small"></label>
                        <textarea type="text" asp-for="NewsContent" id="content" value="" class="form-control" rows="10" ></textarea>
                        <span asp-validation-for="NewsContent" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-sm btn-primary">Zmień</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on("click", ".j-s-EditDialog", function () {
            var itemId = $(this).data('id');
            var itemTopic = $(this).data('topic');
            var itemContent = $(this).data('content');
            $(".modal-body #itemId").val(itemId);
            $(".modal-body #topic").val(itemTopic);
            $(".modal-body #content").val(itemContent);
        });
        $(document).on("click", ".j-s-DeleteDialog", function () {
            var itemId = $(this).data('id');
            var itemTopic = $(this).data('topic');
            $(".modal-body #itemId").val(itemId);
            $(".modal-body #topic").val(itemTopic);
        });
    });
</script>