@model IEnumerable<Rental.Data.Data.Rental.Message>

@{
    //ViewData["Title"] = "Wiadomości nieodczytane";
    ViewData["Title"] = ViewBag.Tite;
}

<div class="row mb-4 justify-content-center">
    <div class="col-md-12">
        @await Html.PartialAsync("Navi")
    </div>
    <div class="col-md-12">
        <div class="card border-top-0 rounded-0 rounded-bottom">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 mb-2">
                        <span class="float-left"><i class="fas fa-folder-open mr-2"></i>Lista aktualnych pozycji</span>
                        <button class="btn text-primary float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample"><i class="fas fa-sliders-h"></i></button>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="text-center collapse show" id="collapseExample" style="">
                            <div class="card card-body pb-0">
                                <form asp-action="Index" method="get">
                                    @***************************** Wyszukiwanie **********************************@
                                    <div class="row">
                                        <div class="col-sm-12 align-self-center">
                                            @*Wyszukiwarka*@
                                            @{
                                                if (@ViewBag.Search != null)
                                                {
                                                    <span class="badge badge-pill badge-info">"@ViewBag.Search" <a class="text-white" asp-action="Index">&times;</a></span> @*<span aria-hidden="true">&times;</span>*@
                                                }
                                            }
                                            <input type="text" name="searchString" class="form-control" placeholder="Wpisz szukaną frazę.." />
                                        </div>
                                        <div class="col-sm-12 text-right">
                                            <button type="submit" class="btn text-primary"><i class="fas fa-search"></i></button>
                                            <button asp-action="Index" class="btn text-primary"><i class="fas fa-ban"></i></button>
                                        </div>
                                    </div>
                                </form>
                                @***************************** Wyszukiwanie Koniec****************************@
                            </div>
                        </div>
                    </div>
                    <div class="col-12">


                       
                            @foreach (var item in Model.OrderByDescending(x => x.StartDate).ThenBy(y => y.AddedDate))
                            {
                                <div class="row no-gutters rounded shadow-sm mt-2 mb-2

                                   @if(item.ReadMessages.FirstOrDefault(f => f.MessageID == item.MessageID) == null)
                                    {
                                         //Jesli wiadomosci nie ma w przeczytanych
                                         @: bg-light
                                    }
                                    ">

                                    @{
                                        //wyswietlamy zdjecie profilowe autora wiadomosci
                                        if (item.SenderUser.Image != null)
                                        {
                                            var base64 = Convert.ToBase64String(item.SenderUser.Image);
                                            var imgSrc = String.Format("data:Image/jpeg;base64,{0}", base64);
                                            <img style="width: 80px; height:80px" class="card-img  mr-2" src="@imgSrc" />
                                        }
                                        else
                                        {
                                            <img style="width: 80px; height:80px" class="card-img  mr-2" src="~/Upload/Default/DefaultUser.png" />
                                        }
                                    }
                                    <div class="col-md-11 ml-2">
                                        @if (item.ReadMessages.FirstOrDefault(f => f.MessageID == item.MessageID) != null)
                                        {
                                            //wiadomosc przeczytana
                                            <i class="fas fa-envelope-open float-right m-1"></i>
                                        }
                                        else
                                        {
                                            //wiadomosc nie przeczytana
                                            <i class="fas fa-envelope float-right m-1"></i>
                                        }
                                        <h5>@Html.DisplayFor(modelItem => item.SenderUser.FirstName) @Html.DisplayFor(modelItem => item.SenderUser.LastName)</h5>
                                        <a asp-action="Details" asp-route-id="@item.MessageID" class="stretched-link text-decoration-none">
                                            <span class="card-text">
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </span>
                                        </a><br />
                                        <div class="float-right align-bottom">
                                            <small class="text-muted align-bottom">@Html.DisplayFor(modelItem => item.StartDate)</small>
                                        </div>
                                    </div>
                                </div>
                            }
                       


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

