@model IEnumerable<Rental_Data.Data.Rental.RentalAgency>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Oddziały";
}
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-sm-12 mt-2 mb-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-12 text-sm-left">
                                    <p class="card-text"><i class="fas fa-user-tie mr-2"></i>@Html.DisplayFor(modelItem => item.ContactPerson)</p>
                                </div>
                                <div class="col-12 text-sm-left"><i class="fas fa-phone mr-2"></i>@Html.DisplayFor(modelItem => item.Phone1) </div>
                                <div class="col-12 text-sm-left"><i class="fas fa-phone mr-2"></i>@Html.DisplayFor(modelItem => item.Phone2) </div>
                                <div class="col-12 text-sm-left"><i class="fas fa-at mr-2"></i>@Html.DisplayFor(modelItem => item.Email1) </div>
                                <div class="col-12 text-sm-left"><i class="fas fa-at mr-2"></i>@Html.DisplayFor(modelItem => item.Email2) </div>
                            </div>
                        </div>
                        <div class="col-sm-6 align-self-end">
                            <div class="row">
                                <div class="col-12 text-sm-right"><i class="fas fa-map-marker-alt" style="font-size: 2rem;"></i></div>
                                <div class="col-12 text-sm-right">Adres:</div>
                                <div class="col-12 text-sm-right">@item.RentalAgencyAddress.Street @item.RentalAgencyAddress.Number</div>
                                <div class="col-12 text-sm-right">@item.RentalAgencyAddress.ZIPCode @item.RentalAgencyAddress.City</div>
                                <div class="col-12 text-sm-right">@item.RentalAgencyAddress.Country</div>
                            </div>
                        </div>
                    </div>

                        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                    </div>
                </div>
        </div>
    }
</div>
