@*@model Rental.Data.Data.HelpersClass.Car*@
@model Rental_Data.Data.Rental.Vehicle
@{ 
    ViewData["Title"] = "Dodaj Pojazd";
}

<h4><i class="fas fa-plus-circle mr-2"></i>Dodaj Pojazd</h4>
<hr />

<div class="container">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            @* ************************************* Dodawanie zdjecia ********************************************************** *@
            <script src="~/js/jquery-1.10.2.js"></script>
            <div class="col-sm-6">
                <div id="showimage"></div>

                <div class="custom-file">
                    <input class="form-control custom-file-input" type="file" name="file" />
                    <label class="custom-file-label">Wybierz..</label>
                    <span asp-validation-for="@Model.Image" class="text-danger"></span>
                </div>
            </div>

            <script type="text/javascript">

                $(document).ready(function () {
                    @*Java script dodaje siezke do pliku labeka *@
                    $(".custom-file-input").on("change", function () {

                        var fileName = $(this).val().split("\\").pop();
                        $(this).next(".custom-file-label").html(fileName);

                        @*Pokazuje zdjecie *@
                        var previewimages = $("#showimage");
                        previewimages.html("");
                        $($(this)[0].files).each(function () {
                            var file = $(this);
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                var img = $("<img class=\"rounded  img-fluid\" />");
                                //img.attr("style", "height:150px;width: 150px;");
                                img.attr("src", e.target.result);
                                previewimages.append(img);
                            }
                            reader.readAsDataURL(file[0]);
                        });
                    }); 
                });
            </script>
            @* ************************************* Dodawanie zdjecia Koniec*************************************************** *@


            <div class="col-sm-6">

                <div class="form-group">
                    <select asp-for="@Model.ExactTypeID" class="form-control" asp-items="ViewBag.ExactTypeID"></select>
                </div>
                <div class="form-group">
                    @*zmieniam nie daje modelu*@
                    <label asp-for="@Model.BrandID" class="control-label"></label>
                    <select asp-for="@Model.BrandID" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfBrads,"BrandID","Name"))">
                        <option id="BrandOptions"></option>
                    </select>
                    <span asp-validation-for="@Model.BrandID" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <label asp-for="@Model.VehicleModelID" class="control-label"></label>
                    <select class="form-control" name="VehicleModelID" asp-for="@Model.VehicleModelID" asp-items="@ViewBag.ModelList">
                    </select>
                    <span asp-validation-for="@Model.VehicleModelID" class="text-danger"></span>
                </div>

                <script type="text/javascript">

                    $(document).ready(function () {
                        var items = "<option value=''>Wybierz Model</option>";
                        $('#VehicleModelID').html(items);

                        //dodane
                        var itemsBrand = "<option selected value=''>Wybierz Marke</option>";
                        $('#BrandOptions').html(itemsBrand);



                        $('#BrandID').change(function () {
                            var url = '@Url.Content("~/")' + "Vehicles/GetModel";
                            var ddlsource = "#BrandID";
                            $.getJSON(url, { BrandID: $(ddlsource).val() }, function (data) {
                                //var items = '';
                                var items = "<option value=''>Wybierz Model</option>";
                                $("#VehicleModelID").empty();
                                $.each(data, function (i, modele) {
                                    items += "<option value='" + modele.value + "'>" + modele.text + "</option>";
                                });
                                $('#VehicleModelID').html(items);
                            });
                        });

                    });

                </script>


                <div class="form-group">
                    <label asp-for="@Model.YearOfCarProduction" class="control-label"></label>
                    <select asp-for="@Model.YearOfCarProduction" class="form-control" asp-items="ViewBag.YearOfProduction">
                        <option selected>Wybierz Rok</option>
                    </select>
                    <span asp-validation-for="@Model.YearOfCarProduction" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="@Model.Description" class="control-label"></label>
                    <textarea asp-for="@Model.Description" class="form-control" rows="8"></textarea>
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
            </div>



            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="@Model.VIN" class="control-label"></label>
                    <input asp-for="@Model.VIN" class="form-control" />
                    <span asp-validation-for="@Model.VIN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.EngineCapacity" class="control-label"></label>
                    <select name="EngineCapacity" class="form-control">
                        @for (int i = 0; i < 6000; i += 100)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.EngineCapacity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.EngineTypeID" class="control-label"></label>
                    <select asp-for="@Model.EngineTypeID" class="form-control" asp-items="ViewBag.EngineTypeID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Mileage" class="control-label"></label>
                    <input asp-for="@Model.Mileage" class="form-control" />
                    <span asp-validation-for="@Model.Mileage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.GearBoxID" class="control-label"></label>
                    <select asp-for="@Model.GearBoxID" class="form-control" asp-items="ViewBag.GearBoxID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.WheelDriveID" class="control-label"></label>
                    <select asp-for="@Model.WheelDriveID" class="form-control" asp-items="ViewBag.WheelDriveID"></select>
                </div>

            </div>



            <div class="col-sm-6">
                <div class="form-group">
                <label asp-for="@Model.AirConditioningID" class="control-label"></label>
                <select asp-for="@Model.AirConditioningID" class="form-control" asp-items="@ViewBag.AirConditioningID"></select>
            </div>
                <div class="form-group">
                    <label asp-for="@Model.ColourID" class="control-label"></label>
                    <select asp-for="@Model.ColourID" class="form-control" asp-items="ViewBag.ColourID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.NumberPlate" class="control-label"></label>
                    <input asp-for="@Model.NumberPlate" class="form-control" />
                    <span asp-validation-for="@Model.NumberPlate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.EnginePower" class="control-label"></label>
                    <input asp-for="@Model.EnginePower" class="form-control" />
                    <span asp-validation-for="@Model.EnginePower" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.NumberOfSeats" class="control-label"></label>
                    <input asp-for="@Model.NumberOfSeats" class="form-control" />
                    <span asp-validation-for="@Model.NumberOfSeats" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.NumberOfDoors" class="control-label"></label>
                    <input asp-for="@Model.NumberOfDoors" class="form-control" />
                    <span asp-validation-for="@Model.NumberOfDoors" class="text-danger"></span>
                </div>
            </div>



            @************************************ Wyposazenie ***************************************@

                <div class="col-sm-12">
                    <h4>Wyposażenie Nowe</h4>
                    <hr />
                    <dl class="row">
                        @foreach (var item in ViewBag.EquipmentsNameList)
                        {
                            <dt class="col-sm-5">
                                <small>@item.Name</small>
                            </dt>
                            <dd class="col-sm-1">
                                <input type="checkbox" value="@item.EquipmentNameID" name="Equipments" />
                            </dd>
                        }
                    </dl>
                </div>

            @*****************************  Wyposazenie Koniec ***************************************@


        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

