@model Rental.Data.Data.HelpersClass.Car
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vehicle</h4>
<hr />

<div class="container">
    <form asp-action="Create">
        <div class="row">

            <div class="col-sm-6">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="@Model.GetVehicle.ExactTypeID" class="control-label"></label>
                    <select asp-for="@Model.GetVehicle.ExactTypeID" class="form-control" asp-items="ViewBag.ExactTypeID"></select>
                </div>
                <div class="form-group">


                    @*
                <label asp-for="BrandID" class="control-label"></label>
                <select asp-for="BrandID" class ="form-control" asp-items="ViewBag.BrandID"></select>

                <select id="BrandID" name="BrandID" asp-for="BrandID" asp-items='@(new SelectList(ViewBag.Brands,"BrandID","Name"))'>
                <option>Wybierz Markę</option>
                </select>
                    *@
                    <label asp-for="@Model.GetVehicle.BrandID" class="control-label"></label>
                    <select asp-for="@Model.GetVehicle.BrandID" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfBrads,"BrandID","Name"))"></select>
                </div>
                <div class="form-group">
                    @*
                <label asp-for="VehicleModelID" class="control-label"></label>
                 <select asp-for="VehicleModelID" class ="form-control" asp-items="ViewBag.VehicleModelID"></select>
                @Html.DropDownListFor(model => model.VehicleModelID, new SelectList(" "), "--wybierz model--", new { @class = "form-control" })

                <select id="ModelID" name="ModelID" asp-for="VehicleModelID" asp-items='@(new SelectList(string.Empty,"VehicleModelID","Name"))'>
                </select>
                    *@
                    <label asp-for="@Model.GetVehicle.VehicleModelID" class="control-label"></label>
                    <select class="form-control" id="VehicleModelID" name="VehicleModelID" asp-for="@Model.GetVehicle.VehicleModelID" asp-items="@(new SelectList(string.Empty, "VehicleModelID", "Name"))"></select>
                </div>

                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script type="text/javascript">

                $(document).ready(function () {
                    var items = "<option value='0'>SELECT</option>";
                    $('#VehicleModelID').html(items);
                });

                $(document).ready(function () {
                    $('#BrandID').change(function () {
                        var url = '@Url.Content("~/")' + "Vehicles/GetModel";
                        //var url =  = "Vehicles/GetModel";
                        var ddlsource = "#BrandID";
                        $.getJSON(url, { BrandID: $(ddlsource).val() }, function (data) {
                            var items = '';
                            $("#VehicleModelID").empty();
                            $.each(data, function (i, modele) {
                                items += "<option value='" + modele.value + "'>" + modele.text + "</option>";
                            });
                            $('#VehicleModelID').html(items);
                        });
                    });
                });

                </script>



                <div class="form-group">
                    <label asp-for="@Model.GetVehicle.YearOfProduction" class="control-label"></label>
                    <input asp-for="@Model.GetVehicle.YearOfProduction" class="form-control" />
                    <span asp-validation-for="@Model.GetVehicle.YearOfProduction" class="text-danger"></span>
                </div>
            </div>



            <div class="col-sm-6">
                <img src="~/img/noimg.png" />
            </div>



            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="@Model.GetVehicle.Description" class="control-label"></label>
                    <textarea asp-for="@Model.GetVehicle.Description" class="form-control" rows="8"></textarea>
                    <span asp-validation-for="@Model.GetVehicle.Description" class="text-danger"></span>
                </div>
            </div>



            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="@Model.GetVehicle.VIN" class="control-label"></label>
                    <input asp-for="@Model.GetVehicle.VIN" class="form-control" />
                    <span asp-validation-for="@Model.GetVehicle.VIN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.GetVehicle.EngineCapacity" class="control-label"></label>
                    @*<input asp-for="EngineCapacity" class="form-control" />*@
                    <select name="EngineCapacity" class="form-control">
                        @for (int i = 0; i < 6000; i += 100)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.GetVehicle.EngineCapacity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.GetVehicle.EngineTypeID" class="control-label"></label>
                    <select asp-for="@Model.GetVehicle.EngineTypeID" class="form-control" asp-items="ViewBag.EngineTypeID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.GetVehicle.Mileage" class="control-label"></label>
                    <input asp-for="@Model.GetVehicle.Mileage" class="form-control" />
                    <span asp-validation-for="@Model.GetVehicle.Mileage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.GetVehicle.GearBoxID" class="control-label"></label>
                    <select asp-for="@Model.GetVehicle.GearBoxID" class="form-control" asp-items="ViewBag.GearBoxID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.GetVehicle.WheelDriveID" class="control-label"></label>
                    <select asp-for="@Model.GetVehicle.WheelDriveID" class="form-control" asp-items="ViewBag.WheelDriveID"></select>
                </div>

            </div>



            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="@Model.GetEquipment.AirConditioningID" class="control-label"></label>
                    <select asp-for="@Model.GetEquipment.AirConditioningID" class="form-control" asp-items="ViewBag.AirConditioningID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.GetVehicle.ColourID" class="control-label"></label>
                    <select asp-for="@Model.GetVehicle.ColourID" class="form-control" asp-items="ViewBag.ColourID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.GetVehicle.NumberPlate" class="control-label"></label>
                    <input asp-for="@Model.GetVehicle.NumberPlate" class="form-control" />
                    <span asp-validation-for="@Model.GetVehicle.NumberPlate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.GetVehicle.EnginePower" class="control-label"></label>
                    <input asp-for="@Model.GetVehicle.EnginePower" class="form-control" />
                    <span asp-validation-for="@Model.GetVehicle.EnginePower" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.GetVehicle.NumberOfSeats" class="control-label"></label>
                    <input asp-for="@Model.GetVehicle.NumberOfSeats" class="form-control" />
                    <span asp-validation-for="@Model.GetVehicle.NumberOfSeats" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.GetVehicle.NumberOfDoors" class="control-label"></label>
                    <input asp-for="@Model.GetVehicle.NumberOfDoors" class="form-control" />
                    <span asp-validation-for="@Model.GetVehicle.NumberOfDoors" class="text-danger"></span>
                </div>
            </div>



            @************************************ Wyposazenie ***************************************@

        <div class="col-sm-12">
            <h4>Wyposażenie</h4>
            <hr />
        </div>

            <div class="col-sm-4">

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="@Model.GetEquipment.ABS" /> @Html.DisplayNameFor(model => model.GetEquipment.ABS)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="@Model.GetEquipment.AUX" /> @Html.DisplayNameFor(model => model.GetEquipment.AUX)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="@Model.GetEquipment.ISOFIX" /> @Html.DisplayNameFor(model => model.GetEquipment.ISOFIX)
                    </label>
                </div>

            </div>
            <div class="col-sm-4">


                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="@Model.GetEquipment.CD" /> @Html.DisplayNameFor(model => model.GetEquipment.CD)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="@Model.GetEquipment.SD" /> @Html.DisplayNameFor(model => model.GetEquipment.SD)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="@Model.GetEquipment.USB" /> @Html.DisplayNameFor(model => model.GetEquipment.USB)
                    </label>
                </div>

            </div>
            <div class="col-sm-4">

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="@Model.GetEquipment.CruiseControl" /> @Html.DisplayNameFor(model => model.GetEquipment.CruiseControl)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="@Model.GetEquipment.Navigation" /> @Html.DisplayNameFor(model => model.GetEquipment.Navigation)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="@Model.GetEquipment.Airbag" /> @Html.DisplayNameFor(model => model.GetEquipment.Airbag)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="@Model.GetEquipment.PowerSteering" /> @Html.DisplayNameFor(model => model.GetEquipment.PowerSteering)
                    </label>
                </div>










            </div>

        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>




@*generalny typ wybieramy w czasie wyboru co dodajemy nowego.. samochod rower itd..*@
@*<div class="form-group">
    <label asp-for="GeneralTypeID" class="control-label"></label>
    <select asp-for="GeneralTypeID" class="form-control" asp-items="ViewBag.GeneralTypeID"></select>
    </div>*@

@*
        //Pozycje dodane zostana automatycznie przy dodaniu lub pozbyciu sie pozycji

        <div class="form-group">
        <label asp-for="DateIn" class="control-label"></label>
        <input asp-for="DateIn" class="form-control" />
        <span asp-validation-for="DateIn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOut" class="control-label"></label>
        <input asp-for="DateOut" class="form-control" />
        <span asp-validation-for="DateOut" class="text-danger"></span>
    </div>*@

@*<div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
        </label>
    </div>*@