@model Rental_Data.Data.Rental.Vehicle

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="BrandID" class="control-label"></label>
            <select asp-for="BrandID" class ="form-control" asp-items="ViewBag.BrandID"></select>*@

                @*<select id="BrandID" name="BrandID" asp-for="BrandID" asp-items='@(new SelectList(ViewBag.Brands,"BrandID","Name"))'>
                <option>Wybierz Markę</option>
            </select>*@
                <select asp-for="BrandID"
                        class="form-control"
                        asp-items="@(new SelectList(ViewBag.ListOfBrads,"BrandID","Name"))"></select>

            </div>
            <div class="form-group">
                @*<label asp-for="VehicleModelID" class="control-label"></label>
            <select asp-for="VehicleModelID" class ="form-control" asp-items="ViewBag.VehicleModelID"></select>*@
                @*@Html.DropDownListFor(model => model.VehicleModelID, new SelectList(" "), "--wybierz model--", new { @class = "form-control" })*@

                @*<select id="ModelID" name="ModelID" asp-for="VehicleModelID" asp-items='@(new SelectList(string.Empty,"VehicleModelID","Name"))'>
            </select>*@

                <select class="form-control" id="VehicleModelID" name="VehicleModelID" asp-for="VehicleModelID"
                        asp-items="@(new SelectList(string.Empty, "VehicleModelID", "Name"))"></select>

            </div>

            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script type="text/javascript">

                $(document).ready(function () {
                    var items = "<option value='0'>SELECT</option>";
                    $('#VehicleModelID').html(items);
                });

                $(document).ready(function () {
                    $('#BrandID').change(function () {
                        var url = '@Url.Content("~/")' + "Vehicles/GetModel";
                        //var url =  = "Vehicles/GetModel";
                        var ddlsource = "#BrandID";
                        $.getJSON(url, { BrandID: $(ddlsource).val() }, function (data) {
                            var items = '';
                            $("#VehicleModelID").empty();
                            $.each(data, function (i, modele) {
                                items += "<option value='" + modele.value + "'>" + modele.text + "</option>";
                            });
                            $('#VehicleModelID').html(items);
                        });
                    });
                });

            </script>

            ************************* usunac JQuery 1.10.2
            krok 15 nie skonczone






            @*<script src="~/js/jquery-1.10.2.js"></script>*@
            @*<script src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript">
            $(function() {
                $("#BrandID").change(function() {

                    var url = '@Url.Content("~/")' + "Vehicles/GetModelByID";
                    var ddlsource = "#BrandID";
                    $.getJSON(url, { BrandID: $(ddlsource).val }, function (data) {
                        var items = '';
                        $("#ModelID").empty();
                        $.each(data, function (i, row) {
                            items += "<option value='" + row.value + "'>" + row.text + "</option>";
                        });
                        $("#ModelID").html(items);
                    })
                });
            });


        </script>*@



            @*<script>
            $(document).ready(function () {
                $("#BrandID").change(function () {
                    $.get("Home/GetModelList", { BrandID: $("#BrandID").val() }, function (data) {
                        $("#VehicleModelID").empty();
                        $.each(data, function (index, row) {
                            $("#VehicleModelID").append("<option value='" + row.VehicleModelID + "'>" + row.Name + "</option>")
                        });
                    });
                });
            });
        </script>*@


            <div class="form-group">
                <label asp-for="YearOfProduction" class="control-label"></label>
                <input asp-for="YearOfProduction" class="form-control" />
                <span asp-validation-for="YearOfProduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngineCapacity" class="control-label"></label>
                <input asp-for="EngineCapacity" class="form-control" />
                <span asp-validation-for="EngineCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneralTypeID" class="control-label"></label>
                <select asp-for="GeneralTypeID" class="form-control" asp-items="ViewBag.GeneralTypeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ExactTypeID" class="control-label"></label>
                <select asp-for="ExactTypeID" class="form-control" asp-items="ViewBag.ExactTypeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="EngineTypeID" class="control-label"></label>
                <select asp-for="EngineTypeID" class="form-control" asp-items="ViewBag.EngineTypeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Mileage" class="control-label"></label>
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColourID" class="control-label"></label>
                <select asp-for="ColourID" class="form-control" asp-items="ViewBag.ColourID"></select>
            </div>
            <div class="form-group">
                <label asp-for="VIN" class="control-label"></label>
                <input asp-for="VIN" class="form-control" />
                <span asp-validation-for="VIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateIn" class="control-label"></label>
                <input asp-for="DateIn" class="form-control" />
                <span asp-validation-for="DateIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOut" class="control-label"></label>
                <input asp-for="DateOut" class="form-control" />
                <span asp-validation-for="DateOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberPlate" class="control-label"></label>
                <input asp-for="NumberPlate" class="form-control" />
                <span asp-validation-for="NumberPlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnginePower" class="control-label"></label>
                <input asp-for="EnginePower" class="form-control" />
                <span asp-validation-for="EnginePower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GearBoxID" class="control-label"></label>
                <select asp-for="GearBoxID" class="form-control" asp-items="ViewBag.GearBoxID"></select>
            </div>
            <div class="form-group">
                <label asp-for="WheelDriveID" class="control-label"></label>
                <select asp-for="WheelDriveID" class="form-control" asp-items="ViewBag.WheelDriveID"></select>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfSeats" class="control-label"></label>
                <input asp-for="NumberOfSeats" class="form-control" />
                <span asp-validation-for="NumberOfSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfDoors" class="control-label"></label>
                <input asp-for="NumberOfDoors" class="form-control" />
                <span asp-validation-for="NumberOfDoors" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

