@model Rental_Data.Data.Rental.Vehicle
@using Rental_Data.Data.Rental
@{ 
    ViewData["Title"] = "Edycja";
}

<h2>@Model.Brand.Name @Model.VehicleModel.Name</h2>
<h4>Edycja</h4>
<hr />
<div class="container">
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Image" />
        <input type="hidden" asp-for="VehicleID" />
        <div class="row">
            @* ************************************* Zmiana zdjecia ********************************************************** *@
            <script src="~/js/jquery-1.10.2.js"></script>
            <div class="col-sm-6">
                <div id="dbimage">
                    @if (Model.Image != null)
                    {
                        var img = Model.Image;

                        var base64 = Convert.ToBase64String(img);
                        var imgSrc = String.Format("data:Image/jpeg;base64,{0}", base64);
                        <img class="img-fluid rounded" id="#dbimage" src="@imgSrc" />

                    }
                </div>
                <div id="showimage"></div>
                <div class="custom-file">
                    <input class="form-control custom-file-input" type="file" name="file" />
                    <label class="custom-file-label">Wybierz..</label>
                </div>
            </div>

            <script type="text/javascript">

                $(document).ready(function () {
                    @*Java script dodaje siezke do pliku labeka *@
                    $(".custom-file-input").on("change", function () {

                        document.getElementById("dbimage").style.display = "none";

                        var fileName = $(this).val().split("\\").pop();
                        $(this).next(".custom-file-label").html(fileName);

                        @*Pokazuje zdjecie *@
                        var previewimages = $("#showimage");
                        previewimages.html("");
                        $($(this)[0].files).each(function () {
                            var file = $(this);
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                var img = $("<img class=\"rounded  img-fluid\" />");
                                img.attr("src", e.target.result);
                                previewimages.append(img);
                            }
                            reader.readAsDataURL(file[0]);
                        });
                    }); 
                });
            </script>
            @* ************************************* Zmiana zdjecia Koniec*************************************************** *@

            <div class="col-sm-6">
                <div class="form-group">
                    <select asp-for="@Model.ExactTypeID" class="form-control" asp-items="ViewBag.ExactTypeID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.BrandID" class="control-label"></label>
                    <select asp-for="@Model.BrandID" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfBrads,"BrandID","Name"))">
                        <option id="BrandOptions"></option>
                    </select>
                    <span asp-validation-for="@Model.BrandID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.VehicleModelID" class="control-label"></label>
                    <select class="form-control" name="VehicleModelID" asp-for="@Model.VehicleModelID" asp-items="@ViewBag.ModelList">
                    </select>
                    <span asp-validation-for="@Model.VehicleModelID" class="text-danger"></span>
                </div>

                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script type="text/javascript">

                    $(document).ready(function () {
                        var itemsBrand = "<option selected value=''>Wybierz Marke</option>";
                        $('#BrandOptions').html(itemsBrand);
                    });

                    $(document).ready(function () {
                        $('#BrandID').change(function changeCollection () {
                            var url = '@Url.Content("~/")' + "Vehicles/GetModel";
                            var ddlsource = "#BrandID";
                            $.getJSON(url, { BrandID: $(ddlsource).val() }, function (data) {
                                //var items = '';
                                var items = "<option value=''>Wybierz Model</option>";
                                $("#VehicleModelID").empty();
                                $.each(data, function (i, modele) {
                                    items += "<option value='" + modele.value + "'>" + modele.text + "</option>";
                                });
                                $('#VehicleModelID').html(items);
                            });
                        });
                    });
                </script>

                <div class="form-group">
                    <label asp-for="@Model.YearOfCarProduction" class="control-label"></label>
                    <select asp-for="@Model.YearOfCarProduction" class="form-control" asp-items="ViewBag.YearOfProduction">
                        <option value="@Model.YearOfCarProduction" selected>@Model.YearOfCarProduction</option>
                    </select>
                    <span asp-validation-for="@Model.YearOfCarProduction" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="@Model.Description" class="control-label"></label>
                    <textarea asp-for="@Model.Description" class="form-control" rows="8"></textarea>
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="@Model.VIN" class="control-label"></label>
                    <input asp-for="@Model.VIN" class="form-control" />
                    <span asp-validation-for="@Model.VIN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.EngineCapacity" class="control-label"></label>
                    <select name="EngineCapacity" class="form-control">
                        <option value="@Model.EngineCapacity" selected>@Model.EngineCapacity</option>
                        @for (int i = 0; i < 6000; i += 100)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.EngineCapacity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.EngineTypeID" class="control-label"></label>
                    <select asp-for="@Model.EngineTypeID" class="form-control" asp-items="ViewBag.EngineTypeID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Mileage" class="control-label"></label>
                    <input asp-for="@Model.Mileage" class="form-control" />
                    <span asp-validation-for="@Model.Mileage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.GearBoxID" class="control-label"></label>
                    <select asp-for="@Model.GearBoxID" class="form-control" asp-items="ViewBag.GearBoxID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.WheelDriveID" class="control-label"></label>
                    <select asp-for="@Model.WheelDriveID" class="form-control" asp-items="ViewBag.WheelDriveID"></select>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="@Model.AirConditioningID" class="control-label"></label>
                    <select asp-for="@Model.AirConditioningID" class="form-control" asp-items="@ViewBag.AirConditioningID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ColourID" class="control-label"></label>
                    <select asp-for="@Model.ColourID" class="form-control" asp-items="ViewBag.ColourID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.NumberPlate" class="control-label"></label>
                    <input asp-for="@Model.NumberPlate" class="form-control" />
                    <span asp-validation-for="@Model.NumberPlate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.EnginePower" class="control-label"></label>
                    <input asp-for="@Model.EnginePower" class="form-control" />
                    <span asp-validation-for="@Model.EnginePower" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.NumberOfSeats" class="control-label"></label>
                    <input asp-for="@Model.NumberOfSeats" class="form-control" />
                    <span asp-validation-for="@Model.NumberOfSeats" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.NumberOfDoors" class="control-label"></label>
                    <input asp-for="@Model.NumberOfDoors" class="form-control" />
                    <span asp-validation-for="@Model.NumberOfDoors" class="text-danger"></span>
                </div>
            </div>

            @***************************** Wyposazenie ***********************************************@
            <div class="col-sm-12">
                <h5 class="mt-4">Wyposażnie</h5>
                <hr />
                <dl class="row">
                    @foreach (var eqtemp in @ViewBag.TempList as ICollection<Equipment>)
                    {
                        <dt class="col-sm-5">
                            <small>@Html.DisplayFor(eqtempModel => eqtemp.Name)</small>
                        </dt>
                        <dd class="col-sm-1">
                            <input class="form-check-input" type="checkbox" value="@eqtemp.EquipmentNameID" name="Equipments"
                                   @{ if (eqtemp.Check) { @: checked
                                   } } />
                        </dd>
                    }
                </dl>
            </div>
            @*****************************  Wyposazenie Koniec ***************************************@

            @*****************************  Cena *****************************************************@
            <div class="col-sm-12 card card-body mt-4">
                <h5 class="mb-2">Aktualne ceny:</h5>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">24H</th>
                            <th scope="col" class="text-center">Weekend+</th>
                            <th scope="col" class="text-center">Tydzień+</th>
                            <th scope="col" class="text-center">14 dni+</th>
                            <th scope="col" class="text-center">Aktualne od:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var query = Model.CurrentPrices.OrderByDescending(o => o.DateTimeFrom).FirstOrDefault(w => w.DateTimeFrom.Value.CompareTo(DateTime.Now.Date) < 1);
                        }
                        @if (query != null)
                        {
                            <tr>
                                <td class="text-center">@Decimal.Round(query.PriceDay.Value, 2)</td>
                                <td class="text-center">@Decimal.Round(query.PriceWeekend.Value, 2)</td>
                                <td class="text-center">@Decimal.Round(query.PriceWeek.Value, 2)</td>
                                <td class="text-center">@Decimal.Round(query.PriceLong.Value, 2)</td>
                                <td class="text-center">@query.DateTimeFrom.Value.Date.ToShortDateString()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <h5 class="mt-4">Ustaw/Zaplanuj nowe ceny</h5>
                <hr />
                <div class="row">
                    <div class="col-sm-4">
                        <div>
                            <label class="control-label">24 H</label>
                            <div class="input-group">
                                <input type="text" class="form-control text-right" name="price_Day">
                                <div class="input-group-append">
                                    <span class="input-group-text">PLN</span>
                                    <span class="input-group-text">1 dzień</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label class="control-label">Weekend+</label>
                            <div class="input-group">
                                <input type="text" class="form-control text-right" name="price_Weekend">
                                <div class="input-group-append">
                                    <span class="input-group-text">PLN</span>
                                    <span class="input-group-text">1 dzień</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">

                        <div>
                            <label class="control-label">Tydzień</label>
                            <div class="input-group">
                                <input type="text" class="form-control text-right" name="price_Week">
                                <div class="input-group-append">
                                    <span class="input-group-text">PLN</span>
                                    <span class="input-group-text">1 dzień</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label class="control-label">14 dni +</label>
                            <div class="input-group">
                                <input type="text" class="form-control text-right" name="price_Long">
                                <div class="input-group-append">
                                    <span class="input-group-text">PLN</span>
                                    <span class="input-group-text">1 dzień</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Aktualne od:</label>
                            @{
                                string minDate = String.Format("{0:yyyy-MM-dd}", DateTime.Now.Date);
                            }
                            <input name="datetime_to" type="date" min="@minDate" class="form-control text-right" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-12">
                <h5 class="mt-4">Zaplanowane zmiany cen:</h5>
                <hr />
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">24H</th>
                            <th scope="col" class="text-center">Weekend+</th>
                            <th scope="col" class="text-center">Tydzień+</th>
                            <th scope="col" class="text-center">14 dni+</th>
                            <th scope="col" class="text-center">Aktualne od:</th>
                            <th scope="col" class="text-center">Usuń</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var queryNextPrices = Model.CurrentPrices.Where(w => w.DateTimeFrom.Value.CompareTo(DateTime.Now.Date) > 0).OrderBy(o => o.DateTimeFrom).ToList();
                        }
                        @if (queryNextPrices.Count() > 0)
                        { 
                            @foreach (var itemPrices in queryNextPrices)
                            {
                                <tr>
                                    <td class="text-center">@Decimal.Round(itemPrices.PriceDay.Value, 2)</td>
                                    <td class="text-center">@Decimal.Round(itemPrices.PriceWeekend.Value, 2)</td>
                                    <td class="text-center">@Decimal.Round(itemPrices.PriceWeek.Value, 2)</td>
                                    <td class="text-center">@Decimal.Round(itemPrices.PriceLong.Value, 2)</td>
                                    <td class="text-center">@itemPrices.DateTimeFrom.Value.Date.ToShortDateString()</td>
                                    <td class="text-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="@itemPrices.CurrentPriceID" name="removePrice">
                                        </div>
                                    </td>
                                </tr>
                             }
                         }
                        else
                        {
                            <tr><td>Brak wyników</td></tr>
                        }
                    </tbody>
                </table>
            </div>
                @*****************************  Cena Koniec **********************************************@
            <div class="col-sm-12">
                <h5 class="mt-4">Blokada</h5>
                <hr />
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" @(Model.Blockade == true ? "checked" : "") name="Blockade" id="inlineRadio1" value="true">
                    <label class="form-check-label" for="inlineRadio1">Zablokuj</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" @(Model.Blockade != true ? "checked" : "") name="Blockade" id="inlineRadio2" value="false">
                    <label class="form-check-label" for="inlineRadio2">Odblokuj</label>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-sm btn-primary mt-4">Zapisz</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>