@model Rental_Data.Data.Rental.Vehicle
@using Rental_Data.Data.Rental
@{ 
    ViewData["Title"] = "Create";
}


<h1>Edycja</h1>

<h4>Samochodu</h4>
<hr />
<div class="container">
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Image" />
        <input type="hidden" asp-for="VehicleID" />
        <div class="row">
            @* ************************************* Zmiana zdjecia ********************************************************** *@
            <script src="~/js/jquery-1.10.2.js"></script>
            <div col-sm-12>
                <span class="text-danger">
                    @{
                        string blockade = "Zablokuj";
                        if (Model.Blockade == true)
                        {
                            blockade = "Odblokuj";
                        }
                        <a type="button" asp-action="Activation" asp-route-id="@Model.VehicleID" asp-controller="Vehicles" class="btn-sm btn-danger">
                            @blockade
                        </a> }
                </span>
            </div>
            <div class="col-sm-6">
                <div id="dbimage">

                    @if (Model.Image != null)
                    {
                        var img = Model.Image;

                        var base64 = Convert.ToBase64String(img);
                        var imgSrc = String.Format("data:Image/jpeg;base64,{0}", base64);
                        <img class="img-fluid rounded" id="#dbimage" src="@imgSrc" />

                    }

                </div>
                <div id="showimage"></div>

                <div class="custom-file">
                    <input class="form-control custom-file-input" type="file" name="file" />
                    <label class="custom-file-label">Wybierz..</label>
                </div>
                <button type="submit">Upload</button>

            </div>

            <script type="text/javascript">

                $(document).ready(function () {
                    @*Java script dodaje siezke do pliku labeka *@
                    $(".custom-file-input").on("change", function () {

                        //dopisane
                        document.getElementById("dbimage").style.display = "none";

                        var fileName = $(this).val().split("\\").pop();
                        $(this).next(".custom-file-label").html(fileName);

                        @*Pokazuje zdjecie *@
                        var previewimages = $("#showimage");
                        previewimages.html("");
                        $($(this)[0].files).each(function () {
                            var file = $(this);
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                var img = $("<img class=\"rounded  img-fluid\" />");
                                //img.attr("style", "height:150px;width: 150px;");
                                img.attr("src", e.target.result);
                                previewimages.append(img);
                            }
                            reader.readAsDataURL(file[0]);

                        });

                    }); //dodalem ;
                });
            </script>
            @* ************************************* Zmiana zdjecia Koniec*************************************************** *@


            <div class="col-sm-6">

                <div class="form-group">
                    @*<label asp-for="@Model.EquipmentID" class="control-label"></label>*@
                    <select asp-for="@Model.ExactTypeID" class="form-control" asp-items="ViewBag.ExactTypeID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.BrandID" class="control-label"></label>
                    <select asp-for="@Model.BrandID" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfBrads,"BrandID","Name"))">
                        <option id="BrandOptions"></option>
                    </select>
                    <span asp-validation-for="@Model.BrandID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.VehicleModelID" class="control-label"></label>
                    <select class="form-control" name="VehicleModelID" asp-for="@Model.VehicleModelID" asp-items="@ViewBag.ModelList">
                        @*<option value="@Model.VehicleModelID">@Model.VehicleModel.Name</option>*@
                    </select>
                    <span asp-validation-for="@Model.VehicleModelID" class="text-danger"></span>
                </div>


                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script type="text/javascript">

                    $(document).ready(function () {
                        //var items = "<option value=''>Wybierz Model</option>";
                        //$('#VehicleModelID').html(items);

                        //dodane
                        var itemsBrand = "<option selected value=''>Wybierz Marke</option>";
                        $('#BrandOptions').html(itemsBrand);
                    });

                    $(document).ready(function () {
                        $('#BrandID').change(function changeCollection () {
                            var url = '@Url.Content("~/")' + "Vehicles/GetModel";
                            var ddlsource = "#BrandID";
                            $.getJSON(url, { BrandID: $(ddlsource).val() }, function (data) {
                                //var items = '';
                                var items = "<option value=''>Wybierz Model</option>";
                                $("#VehicleModelID").empty();
                                $.each(data, function (i, modele) {
                                    items += "<option value='" + modele.value + "'>" + modele.text + "</option>";
                                });
                                $('#VehicleModelID').html(items);
                            });
                        });
                    });

                </script>





                <div class="form-group">
                    <label asp-for="@Model.YearOfCarProduction" class="control-label"></label>
                    <select asp-for="@Model.YearOfCarProduction" class="form-control" asp-items="ViewBag.YearOfProduction">
                        <option value="@Model.YearOfCarProduction" selected>@Model.YearOfCarProduction</option>
                    </select>
                    <span asp-validation-for="@Model.YearOfCarProduction" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="@Model.Description" class="control-label"></label>
                    <textarea asp-for="@Model.Description" class="form-control" rows="8"></textarea>
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
            </div>



            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="@Model.VIN" class="control-label"></label>
                    <input asp-for="@Model.VIN" class="form-control" />
                    <span asp-validation-for="@Model.VIN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.EngineCapacity" class="control-label"></label>
                    <select name="EngineCapacity" class="form-control">
                        <option value="@Model.EngineCapacity" selected>@Model.EngineCapacity</option>
                        @for (int i = 0; i < 6000; i += 100)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.EngineCapacity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.EngineTypeID" class="control-label"></label>
                    <select asp-for="@Model.EngineTypeID" class="form-control" asp-items="ViewBag.EngineTypeID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Mileage" class="control-label"></label>
                    <input asp-for="@Model.Mileage" class="form-control" />
                    <span asp-validation-for="@Model.Mileage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.GearBoxID" class="control-label"></label>
                    <select asp-for="@Model.GearBoxID" class="form-control" asp-items="ViewBag.GearBoxID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.WheelDriveID" class="control-label"></label>
                    <select asp-for="@Model.WheelDriveID" class="form-control" asp-items="ViewBag.WheelDriveID"></select>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="@Model.AirConditioningID" class="control-label"></label>
                    <select asp-for="@Model.AirConditioningID" class="form-control" asp-items="@ViewBag.AirConditioningID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ColourID" class="control-label"></label>
                    <select asp-for="@Model.ColourID" class="form-control" asp-items="ViewBag.ColourID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.NumberPlate" class="control-label"></label>
                    <input asp-for="@Model.NumberPlate" class="form-control" />
                    <span asp-validation-for="@Model.NumberPlate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.EnginePower" class="control-label"></label>
                    <input asp-for="@Model.EnginePower" class="form-control" />
                    <span asp-validation-for="@Model.EnginePower" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.NumberOfSeats" class="control-label"></label>
                    <input asp-for="@Model.NumberOfSeats" class="form-control" />
                    <span asp-validation-for="@Model.NumberOfSeats" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.NumberOfDoors" class="control-label"></label>
                    <input asp-for="@Model.NumberOfDoors" class="form-control" />
                    <span asp-validation-for="@Model.NumberOfDoors" class="text-danger"></span>
                </div>
            </div>

            @*Wyposazenie nowe !!!*@

            <div class="col-sm-12">

                @*TUTAJ KOD Z INDEXU !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*@

                <hr />
             

                <dl class="row">
                    @foreach (var eqtemp in @ViewBag.TempList as ICollection<Equipment>)
                    {
                        <dt class="col-sm-5">
                            <small>@Html.DisplayFor(eqtempModel => eqtemp.Name)</small>
                        </dt>
                        <dd class="col-sm-1">
                            <input class="form-check-input" type="checkbox" value="@eqtemp.EquipmentNameID" name="Equipments"  
                                   @{ 
                                       if (eqtemp.Check)
                                       {
                                           @:checked
                                       }
                                     } 
                            />
                        </dd>
                    }
                </dl>
            </div>

            @*Wyposazenie nowe Koniec !!!*@





        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
           
            
    <!-- Button trigger modal -->
            <button type="button" class="dropdown-item" data-toggle="modal" data-target="#staticBackdrop">
                Launch static backdrop modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <small>to jest do auta @Model.VehicleID</small>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Understood</button>
                        </div>
                    </div>
                </div>
            </div>
        
        
        
        
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>




@*generalny typ wybieramy w czasie wyboru co dodajemy nowego.. samochod rower itd..*@
@*<div class="form-group">
    <label asp-for="GeneralTypeID" class="control-label"></label>
    <select asp-for="GeneralTypeID" class="form-control" asp-items="ViewBag.GeneralTypeID"></select>
    </div>*@

@*
        //Pozycje dodane zostana automatycznie przy dodaniu lub pozbyciu sie pozycji

        <div class="form-group">
        <label asp-for="DateIn" class="control-label"></label>
        <input asp-for="DateIn" class="form-control" />
        <span asp-validation-for="DateIn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOut" class="control-label"></label>
        <input asp-for="DateOut" class="form-control" />
        <span asp-validation-for="DateOut" class="text-danger"></span>
    </div>*@

@*<div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
        </label>
    </div>*@
