@model IEnumerable<Rental_Data.Data.Rental.Vehicle>

@{
    ViewData["Title"] = "Index";
}
@using Rental_Data.Data.Rental
@using Rental.Data.Data.Rental
<h1>SAmochody osobowe</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@{
    List<Equipment> TempList = new List<Equipment>();
}
<div class="row">
    @for (int i = 0; i < 20; i++)
        @foreach (var item in Model)
        {
            <div class="col-md-5 m-4">
                <div class="card shadow-sm">
                    <div class="row">
                        <div class="col-md-7">

                            @{
                                string cos = @item.Pictures.FirstOrDefault().URL;
                            }
                            @if (cos != "")
                            {
                                <img src="@item.Pictures.First().URL" class="img-fluid rounded" />
                            }
                            else
                            {
                                <img src="~/Upload/Images/imgull.jpg" class="img-fluid rounded" />
                            }
                        </div>
                        <div class="col-md-4 m-2">
                            <h5 class="card-title">
                                @Html.DisplayFor(modelItem => item.Brand.Name) @Html.DisplayFor(modelItem => item.VehicleModel.Name)
                            </h5>
                            <small>
                                Rocznik: @Html.DisplayFor(modelItem => item.YearOfCarProduction)<br />
                                Pojemność: @Html.DisplayFor(modelItem => item.EngineCapacity) cm3<br />
                                Silnik: @Html.DisplayFor(modelItem => item.EngineType.Name)<br />
                                Przebieg: @Html.DisplayFor(modelItem => item.Mileage) km<br />
                                Moc (KM): @Html.DisplayFor(modelItem => item.EnginePower) KM<br />
                                Skrzynia: @Html.DisplayFor(modelItem => item.GearBox.Name)<br />
                                Klimatyzacja: @Html.DisplayFor(modelItem => item.AirConditioning.Type)<br />
                            </small>
                        </div>
                        <div class="col-md-11 m-2">
                            @*Wypożyenie TAK NIE*@
                            @{
                                DateTime.Now.Date.ToString();

                                if (item.RentalVehicles.FirstOrDefault(f => f.From.CompareTo(DateTime.Now.Date) > 0) != null)
                                {
                                    <p>start jest pozniej</p>
                                }
                                else
                                {
                                    <p>start jest wczesniej</p>
                                }
                                if (item.RentalVehicles.FirstOrDefault(f => f.To.CompareTo(DateTime.Now.Date) < 0) != null)
                                {
                                    <p>koniec jest wczersniej</p>
                                }
                                else
                                {
                                    <p>koniec jest pozniej</p>
                                }


                                RentalVehicle rentalVehicleItem;
                                TimeSpan rezult;
                                DateTime nextRentalDate;



                                //szukam zajetego
                                if ((rentalVehicleItem = item.RentalVehicles.FirstOrDefault(f =>
                               f.From.CompareTo(DateTime.Now.Date) <= 0 && f.To.CompareTo(DateTime.Now.Date) >= 0
                                )) != null)
                                {
                                    <h6>Aktualnie Wypożyczony</h6>
                                    <p>Koniec wypożyczenia za @((rentalVehicleItem.To.Date - DateTime.Now.Date).Days)dni / @rentalVehicleItem.To.Date.ToShortDateString()</p>
                                }
                                else
                                {
                                    <h6>Aktualnie Dostepny</h6>
                                    if ((nextRentalDate = item.RentalVehicles.OrderBy(o => o.From).Select(s => s.From).FirstOrDefault(f => f.CompareTo(DateTime.Now.Date) > 0)).CompareTo(DateTime.Now.Date) > 0)
                                    {
                                        <p>Następna rezerwacja za: @((nextRentalDate.Date - DateTime.Now.Date).Days)dni  / @nextRentalDate.Date.ToShortDateString()</p>
                                        @*<p>Następna rezerwacja za: @nextRentalDate.Date</p>*@
                                    }
                                    else
                                    {
                                        <p>Brak rezerwacji</p>
                                    }

                                }
                            }
                            <h6 class="card-title">Opis</h6>
                            <p><small>@item.Description</small><p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>

                        <div class="col-md-11 m-2">
                            @*<h5>Wyposażenie</h5>*@
                            <button class="btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Wyposażenie
                            </button>

                            <hr />
                            @{
                                Equipment toAdd;
                                foreach (var name in @ViewBag.EQNameList)
                                {
                                    if ((toAdd = item.Equipment.FirstOrDefault(f => f.EquipmentNameID == name.EquipmentNameID)) == null)
                                    {
                                        TempList.Add(new Equipment()
                                        {
                                            Name = name.Name,
                                            Check = false
                                        }
                                        );
                                    }
                                    else
                                    {
                                        toAdd.Name = name.Name;
                                        TempList.Add(toAdd);
                                    }
                                }
                            }

                            <div class="collapse" id="collapseExample">
                                <dl class="row">
                                    @foreach (var eqtemp in TempList)
                                    {
                                        <dt class="col-sm-5">
                                            <small>@Html.DisplayFor(eqtempModel => eqtemp.Name)</small>
                                        </dt>
                                        <dd class="col-sm-1">
                                            @Html.DisplayFor(eqtempModel => eqtemp.Check)
                                        </dd>
                                    }
                                </dl>
                            </div>
                            @{
                                TempList.Clear();
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
</div>