@model IEnumerable<Rental_Data.Data.Rental.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>SAmochody osobowe</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    @for (int i = 0; i < 20; i++)
        @foreach (var item in Model)
        {
            <div class="col-md-5 m-4">
                <div class="card shadow-sm">
                    <div class="row">
                        <div class="col-md-7">


                            @{
                                string cos = @item.Pictures.FirstOrDefault().URL;
                            }
                            @if (cos != "")
                            {
                                <img src="@item.Pictures.First().URL" class="img-fluid rounded" />
                            }
                            else
                            {
                                <img src="~/Upload/Images/imgull.jpg" class="img-fluid rounded" />
                            }
                        </div>
                        <div class="col-md-4 m-2">
                            <h5 class="card-title">
                                @Html.DisplayFor(modelItem => item.Brand.Name) @Html.DisplayFor(modelItem => item.VehicleModel.Name)
                            </h5>
                            <small>
                                Rocznik: @Html.DisplayFor(modelItem => item.YearOfCarProduction)<br />
                                Pojemność: @Html.DisplayFor(modelItem => item.EngineCapacity) cm3<br />
                                Silnik: @Html.DisplayFor(modelItem => item.EngineType.Name)<br />
                                Przebieg: @Html.DisplayFor(modelItem => item.Mileage) km<br />
                                Moc (KM): @Html.DisplayFor(modelItem => item.EnginePower) KM<br />
                                Skrzynia: @Html.DisplayFor(modelItem => item.GearBox.Name)<br />
                                Klimatyzacja: @Html.DisplayFor(modelItem => item.Equipment.AirConditioning.Type)<br />
                            </small>
                        </div>
                        <div class="col-md-11 m-2">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        
                        <div class="col-md-11 m-2">
                            @*<h5>Wyposażenie</h5>*@
                            <button class="btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Wyposażenie
                            </button>
                            <hr />
                            <div class="collapse" id="collapseExample">
                                <dl class="row">

                                    <dt class="col-sm-5">
                                        <small>@Html.DisplayNameFor(modelItem => item.Equipment.ABS)</small>

                                    </dt>
                                    <dd class="col-sm-1">
                                        @Html.DisplayFor(modelItem => item.Equipment.ABS)
                                    </dd>
                                    <dt class="col-sm-5">
                                        <small>@Html.DisplayNameFor(modelItem => item.Equipment.AUX)</small>
                                    </dt>
                                    <dd class="col-sm-1">
                                        @Html.DisplayFor(modelItem => item.Equipment.AUX)
                                    </dd>
                                    <dt class="col-sm-5">
                                        <small>@Html.DisplayNameFor(modelItem => item.Equipment.ISOFIX)</small>
                                    </dt>
                                    <dd class="col-sm-1">
                                        @Html.DisplayFor(modelItem => item.Equipment.ISOFIX)
                                    </dd>
                                    <dt class="col-sm-5">
                                        <small>@Html.DisplayNameFor(modelItem => item.Equipment.CD)</small>
                                    </dt>
                                    <dd class="col-sm-1">
                                        @Html.DisplayFor(modelItem => item.Equipment.CD)
                                    </dd>
                                    <dt class="col-sm-5">
                                        <small>@Html.DisplayNameFor(modelItem => item.Equipment.SD)</small>
                                    </dt>
                                    <dd class="col-sm-1">
                                        @Html.DisplayFor(modelItem => item.Equipment.SD)
                                    </dd>
                                    <dt class="col-sm-5">
                                        <small>@Html.DisplayNameFor(modelItem => item.Equipment.USB)</small>
                                    </dt>
                                    <dd class="col-sm-1">
                                        @Html.DisplayFor(modelItem => item.Equipment.USB)
                                    </dd>
                                    <dt class="col-sm-5">
                                        <small>@Html.DisplayNameFor(modelItem => item.Equipment.CruiseControl)</small>
                                    </dt>
                                    <dd class="col-sm-1">
                                        @Html.DisplayFor(modelItem => item.Equipment.CruiseControl)
                                    </dd>
                                    <dt class="col-sm-5">
                                        <small>@Html.DisplayNameFor(modelItem => item.Equipment.Navigation)</small>
                                    </dt>
                                    <dd class="col-sm-1">
                                        @Html.DisplayFor(modelItem => item.Equipment.Navigation)
                                    </dd>
                                    <dt class="col-sm-5">
                                        <small>@Html.DisplayNameFor(modelItem => item.Equipment.PowerSteering)</small>
                                    </dt>
                                    <dd class="col-sm-1">
                                        @Html.DisplayFor(modelItem => item.Equipment.PowerSteering)
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
         }
</div>