@model Rental.Data.Data.Rental.RentalVehicle

@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "RentalThis";
    var roles = (List<IdentityRole>)ViewData["roles"];
}

<div class="row no-gutters">
    <div class="col-sm-12">
        <form asp-action="CreateThis">
            <div class="card">
                <div class="card-header">Formularz wypożyczenia pojazdy @Html.DisplayFor(model => model.Vehicle.Brand.Name)  @Html.DisplayFor(model => model.Vehicle.VehicleModel.Name) </div>
                <div class="row">
                    @**************************************** Kalendarz rezerwacji START ***************************@
                    <div class="col-xl-8 p-sm-4">
                        <div class="row justify-content-center m-4">
                            <div class="col-sm-1 align-self-center">
                                <a class="stretched-link" asp-action="CreateThis" asp-route-id="@Model.Vehicle.VehicleID" asp-route-navigation="previous">
                                    <i class="fas fa-chevron-left float-right mt-4 mb-4"></i>
                                </a>
                            </div>
                            <div class="col-lg-7 text-center">
                                @{
                                    //wyswietlam date
                                    <div>
                                        @{
                                            var calendar = ViewBag.CalendarPage as List<DateTime>;
                                            DateTime month = (DateTime)ViewBag.Month;
                                            <span class="m-2">@month.ToShortDateString()</span>
                                        }
                                    </div>

                                    <div class="bg-dark rounded">
                                        @foreach (string day in @ViewBag.DaysOfWeek)
                                        {
                                            <div class="d-inline-block rounded bg-dark align-middle text-white" style="min-width: 46px; min-height: 46px"><small>@day</small> </div>
                                        }
                                    </div>

                                    foreach (var item in calendar)
                                    {
                                        //sprawdzam czy to poniedzialek
                                        if (@item.DayOfWeek == DayOfWeek.Monday)
                                        {
                                            <div class="bg-dark m-0 p-0"></div>
                                        }
                                        //sprawdzam czy dzien jest zajety -- ZAJETY
                                        if (Model.Vehicle.RentalVehicles.FirstOrDefault(f => f.From.CompareTo(item) <= 0 && f.To.CompareTo(item) >= 0) != null)
                                        {
                                            <div class="btn-group-toggle d-inline-block rounded mt-1" data-toggle="buttons">
                                                <label class="btn btn-danger active" style="min-width: 46px; min-height: 46px">
                                                    <input type="checkbox" disabled autocomplete="off">
                                                    @{
                                                        if (item.Day == DateTime.Now.Day)
                                                        {
                                                            <u>@item.Day</u>
                                                        }
                                                        else
                                                        {
                                                            @item.Day
                                                        }
                                                    }
                                                </label>
                                            </div>
                                        }
                                        //Dzien jest -- WOLNY
                                        else
                                        {
                                            //Ten dzien jest juz był.. brak moziwosci rezerwacji
                                            if (@item.CompareTo(DateTime.Now.Date) < 0)
                                            {
                                                <div class="btn-group-toggle d-inline-block rounded mt-1" data-toggle="buttons">
                                                    <label class="btn btn-light active" style="min-width: 46px; min-height: 46px">
                                                        <input type="checkbox" disabled autocomplete="off">
                                                        @item.Day
                                                    </label>
                                                </div>
                                            }
                                            // REZERWACJA
                                            else
                                            {
                                                <div class="btn-group-toggle d-inline-block rounded mt-1" data-toggle="buttons">
                                                    <label class="btn btn-secondary btn-success" style="min-width: 46px; min-height: 46px">
                                                        <input type="checkbox" name="RentalDate" value="@item" autocomplete="off">
                                                        @{
                                                            if (item.Day == DateTime.Now.Day)
                                                            {
                                                                <u>@item.Day</u>
                                                            }
                                                            else
                                                            {
                                                                @item.Day
                                                            }
                                                        }
                                                    </label>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            </div>
                            <div class="col-sm-1 align-self-center">
                                <a asp-action="CreateThis" asp-route-id="@Model.Vehicle.VehicleID" asp-route-navigation="next">
                                    <i class="fas fa-chevron-right float-left mt-4 mb-4"></i>
                                </a>
                            </div>

                            <div class="col-lg-3 text-center align-self-center">
                                <div>
                                    <label class="btn btn-secondary btn-success" style="min-width: 46px; min-height: 46px">
                                        13
                                    </label>
                                </div>
                                <label>Termin wolny</label>
                                <div>
                                    <label class="btn btn-danger active" style="min-width: 46px; min-height: 46px">
                                        13
                                    </label>
                                </div>
                                <label>Termin zajęty</label>
                                <div>
                                    <label class="btn btn-light active" style="min-width: 46px; min-height: 46px">
                                        13
                                    </label>
                                </div>
                                <label>Termin minął</label>

                            </div>
                        </div>
                        @*********************************** Kalendarz rezerwacji END *******************************@

                        @******************************* Formularz Rezerwacji****************************************@

                        <input type="hidden" asp-for="VehicleID" value="@Model.Vehicle.VehicleID" />

                        <div class="form-group">
                            <labe class="control-label">Status</labe>
                            <select asp-for="RentalStatusID" class="form-control" asp-items="ViewBag.RentalStatusID"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="RentalFromLocation" class="control-label"></label>
                            <select asp-for="RentalFromLocationId" class="form-control" asp-items="@ViewBag.RentalAgencyAddress"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="RentalToLocation" class="control-label"></label>
                            <select asp-for="RentalToLocationId" class="form-control" asp-items="@ViewBag.RentalAgencyAddress"></select>
                        </div>
                        @*<div class="form-group">
                                <label for="exampleFormControlSelect2">Wybierz Użytkownika</label>
                                <input class="form-control" type="text" autocomplete="off" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
                                <select multiple class="form-control" asp-for="ApplicationUserID" id="mySE" asp-items="@ViewBag.Customers">
                                </select>
                            </div>*@


                        <script>
                            function myFunction() {
                                var input, filter, di, se, op, a, i, txtValue;
                                input = document.getElementById("myInput");
                                filter = input.value.toUpperCase();
                                se = document.getElementById("mySE");

                                op = se.getElementsByTagName("option");
                                for (i = 0; i < op.length; i++) {
                                    a = op[i];
                                    txtValue = a.textContent || a.innerText;
                                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                        se[i].style.display = "";
                                    } else {
                                        se[i].style.display = "none";
                                    }
                                }
                            }
                        </script>
                        <div>
                            <button type="button" class="btn btn-secondary btn-sm">Zapisz</button>
                        </div>
                    </div>
                    @******************************** Kalendarz rezerwacji KONEC ************************************@
                    <div class="col-xl-4">
                        <div class="row">
                            <div class="col-xl-10 card m-4 p-4 shadow-sm">
                                <div class="row">
                                    <div class="col-lg-12">
                                        @if (Model.Vehicle.Image != null)
                                        {
                                            var img = Model.Vehicle.Image;

                                            var base64 = Convert.ToBase64String(img);
                                            var imgSrc = String.Format("data:Image/jpeg;base64,{0}", base64);
                                            <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">
                                                <img class="img-fluid rounded" src="@imgSrc" />
                                            </a>
                                        }
                                    </div>
                                    <div class="col-lg-12">
                                        <h5 class="mt-4 mb-2">Informacje</h5>
                                        <hr />
                                        <dl class="row">

                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Vehicle.Brand.Name)
                                            </dt>
                                            <dd class="col-sm-6">
                                                <strong>
                                                    @Html.DisplayFor(model => model.Vehicle.Brand.Name)
                                                </strong>
                                            </dd>

                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Vehicle.VehicleModel.Name)
                                            </dt>
                                            <dd class="col-sm-6">
                                                <strong>
                                                    @Html.DisplayFor(model => model.Vehicle.VehicleModel.Name)
                                                </strong>
                                            </dd>

                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Vehicle.YearOfCarProduction)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.Vehicle.YearOfCarProduction)
                                            </dd>

                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Vehicle.ExactType)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.Vehicle.ExactType.Name)
                                            </dd>

                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Vehicle.Mileage)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.Vehicle.Mileage)
                                            </dd>

                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Vehicle.EngineCapacity)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.Vehicle.EngineCapacity)
                                            </dd>

                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Vehicle.AirConditioning)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.Vehicle.AirConditioning.Type)
                                            </dd>

                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Vehicle.EngineType)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.Vehicle.EngineType.Name)
                                            </dd>

                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Vehicle.EnginePower)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.Vehicle.EnginePower)
                                            </dd>

                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Vehicle.Colour)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.Vehicle.Colour.Name)
                                            </dd>

                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Vehicle.VIN)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.Vehicle.VIN)
                                            </dd>

                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Vehicle.NumberPlate)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.Vehicle.NumberPlate)
                                            </dd>

                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Vehicle.GearBox)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.Vehicle.GearBox.Name)
                                            </dd>

                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Vehicle.WheelDrive)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.Vehicle.WheelDrive.Name)
                                            </dd>

                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Vehicle.NumberOfSeats)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.Vehicle.NumberOfSeats)
                                            </dd>

                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Vehicle.NumberOfDoors)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.Vehicle.NumberOfDoors)
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    @Model.Vehicle.Brand.Name @Model.Vehicle.VehicleModel.Name
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                @if (Model.Vehicle.Image != null)
                {
                    var img = Model.Vehicle.Image;

                    var base64 = Convert.ToBase64String(img);
                    var imgSrc = String.Format("data:Image/jpeg;base64,{0}", base64);
                    <img class="img-fluid rounded" src="@imgSrc" />
                }
            </div>
        </div>
    </div>
</div>